# Supabase config 
PORT=""
NODE_ENV=""
SUPABASE_URL=
SUPABASE_SECRET_KEY=""
SUPABASE_PUBLISHABLE_KEY=""

# Local postgreSQL config 
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

FRONTEND_URL=
BACKEND_URL=

JWT_EXPIRES_IN=
JWT_SECRET=