# Local postgreSQL config 
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

FRONTEND_URL=
BACKEND_URL=

JWT_EXPIRES_IN=
JWT_SECRET=

ADMIN_NAME="Hospital Admin"
ADMIN_EMAIL="admin@hospital.com"
ADMIN_PASSWORD="your-admin-password"